$(function() {
  var comment_body, post_item
  post_item = $('#post_id').val();
  comment_body = $('.form-control.save_comment').val();



    <% if @comment.body.present? %>
      $(".list-group").append("<li class='list-group-item' id=<%= "li-#{@comment.id}" %>><div class='comment_body_div'></div><a class= 'btn btn-danger' data-confirm='Are you sure?'rel='nofollow'  data-method= 'delete' href= <%="/posts/#{@post.id}/comments/#{@comment.id}"%>>Destroy </a><button class='edit_comment'>Edit</button><div class='edit_form'id='<%= "comment-#{@comment.id}" %>' style='display: none'><textarea class='form-control update_text'><%= @comment.body %></textarea><input hidden id='comment_id'value=<%= @comment.id %>></input><input hidden id='post_id'value=<%= @post.id %>></input><button class='save_edit'>Save</button></div></li>");
      $(".alert_destroy").find(".alert.alert-danger").remove();
      return $( "li" ).last().find(".comment_body_div" ).html(comment_body);
    <% else %>
      $(".alert_destroy").append("<div class='alert alert-danger'> Body can't be blank </div>");
      $(".alert_destroy").find(".alert.alert-danger").eq(1).remove();

  //document.getElementsByClassName('alert alert-danger').remove();

  //$(".list-group").append("<li />");
  //$( "li" ).last().addClass( 'list-group-item' );
  //$( "li" ).last().append("<div />");
  //$(".list-group").find( "div" ).last().addClass( "comment_body_div" );
  //$( "li" ).last().append("<a> Destroy </a>");
  //$(".list-group").find( "a" ).last().name("/posts/#{post_item}/comments/");
  //$( "li" ).last().append("<button class='edit_comment'%>");
  // $( "li" ).find( "input" ).last().addClass("edit_comment");
  // //btn.setAttribute('onclick', 'obj.HandleClick1();')
  //document.body.appendChild(btn)
  //document.li.appendChild(btn)
  //$( "li" ).last().append

  <% end %>
  //$( "li" ).last().find( "div" ).html(comment_body);
  //return
});



//$("div").is(".alert.alert-danger"





//$(".list-group").find(li_id).find('.comment_body_div').html(comment_body)
//$(function() {
//  var comment_body, post_item;
//  comment_body = void 0;
//  post_item = void 0;
//  post_item = $('#post_id').val();
//  comment_body = $('.form-control.save_comment').val();
//  $('.list-group').append('list-group-item');
//  return $('.list-group').append('list-group-item');
//});







//$(function() {
//  var comment_body, post_item;
//  post_item = $('#post_id').val();
//  comment_body = $('.form-control.save_comment').val();
//  return $(".list-group").append(comment_body)
//});
